body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --logo: Raleway;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --logo-size: 32px;
  --font-size-smi: 13px;

  /* Colors */
  --color-white: #fff;
  --color-dodgerblue: #3f8cff;
  --color-whitesmoke: #f0f0f0;
  --color-black: #000;

  /* Paddings */
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-5xs: 8px;
}
